body {
 background-color: #000000;
  color: white;
  font-family: 'NunitoSans-Regular', sans-serif;
 }

 /* making links same colour as text */
  a:hover {
    color: white;
   }

  a:link {
     color: white;
   }

  a:visited {
     color: white;
   }

  /* status.cafe */

  #statuscafe {
    padding: .5em;
    background-color: black;
    border: 1px solid mediumvioletred;
    }
  #statuscafe-username {
      margin-bottom: .5em;
    }
  #statuscafe-content {
      margin: 0 1em 0.5em 1em;
    }